*{
    box-sizing: border-box;
}
/**
main, header, nav, article, aside, footer{
    padding: 5px;
    border: 1px solid black;
}
**/

main{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas:
    " h h h"
    " n n n"
    " a a as"
    " f f f";
    grid-template-columns: 1fr 1fr 1fr;
}

header{
    grid-area: h;
    border: none;
}

nav{
    grid-area: n;
    padding: 0;
    background: rgb(0, 135, 104);
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(81, 197, 191);
}

article{
    grid-area: a;
    margin: 5px;
}

.doboz{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.doboz h4{
    width: 100%;
    color: rgb(0, 135, 104);
}

.ember{
    padding: 5px;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}

.ember img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.autokep{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

aside{
    grid-area: as;
    border-radius: 5px;
    margin: 5px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    grid-area: f;
    text-align: center;
    color: rgb(0, 135, 104);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
    text-align: left;
}

th{
    font-weight: bold;
    border-bottom: 3px solid black;
    box-shadow: 0px 3px 0px 0px black;
}

tr:nth-child(even){
    background: lightgrey;
}
.osszevont{
    background: darkgrey;
    color: white;
}

@media screen and (max-width:768px) {
    main{
        grid-template-areas:
        " h "
        " n "
        " a "
        " as "
        " f ";
    }

    nav ul{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .container{
        grid-template-columns: 1fr;
    }

    table{
        width: 100%;
    }
}